@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css');
.navbar-nav.navbar-right:last-child{
margin-right: 0%;

}
.navbar-inverse {
    background-color: #a22929;
    border-color: #080808;
}
navbar-inverse {
    background-color: #e65151;
    border-color: #080808;
}